<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	<title> <%= aapp.title %></title>
  </head>
  <body>
    <!-- All of the Node.js APIs are available in this renderer process. -->
    <script>
      // Require other files to run in this process
      require('./renderer.js')
    </script>
  </body>
</html>
